<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="style.css">
    <script>
        const ws = new WebSocket('ws://localhost:8080');

        ws.onopen = function () {
            console.log('websocket is connected...');
            ws.send(JSON.stringify({
                room: "",
                message: "Connected!"
            }));
        }

        ws.onmessage = function (ev) {
            console.log(ev);
            addTextMessage(JSON.parse(ev.data));
        }

        function sendMyMessage() {
            let room = document.getElementById('room').value;
            let text = document.getElementById('text').value;
            let message = {
                room: room,
                message: text,
            }
            ws.send(JSON.stringify(message));
        }

        function addTextMessage(message) {
            let tag = document.createElement('p');
            tag.innerHTML = message.message;
            let element = document.getElementById("messages");
            element.appendChild(tag);
        }

        function join() {
            let room = document.getElementById('room').value;
            ws.send(JSON.stringify({joinRoom: room}));
            console.log('Joining room: ' + room);
        }

    </script>
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a class="active" href="/chat">Chat</a>
</div>
    <div id="messages"></div>
    <input id="text" type="text">
    <button onclick="sendMyMessage()">Send</button>
    <input id="room" placeholder="Name of Room">
    <button onclick="join()">Join room</button>
</body>
</html>