<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <script>
        const ws = new WebSocket('ws://localhost:8080')

        ws.onopen = function () {
            console.log('Websocket connected!');
            ws.send(JSON.stringify({room: "", message: "Connected!"}));
        }

        ws.onmessage = function (ev) {
            console.log(ev);
            addTextMessage(JSON.parse(ev.data));
        }

        function sendMyMessage() {
            const room = document.getElementById('room').value;
            let text = document.getElementById('text').value;
            let message = {
                room: room,
                message: text
            }
            ws.send(JSON.stringify(message));
        }

        function addTextMessage(message ) {
            let tag = document.createElement('p');
            tag.innerHTML = message.message;
            let messages = document.getElementById('messages');
            messages.appendChild(tag);
        }

        function join() {
            let room = document.getElementById("room").value;
            ws.send(JSON.stringify({joinRoom: room}));
        }

    </script>
</head>

<body>



<div class="topnav">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/chat">Chat</a>
    <a href="/login">Login</a>
    <a href="/cookies">Cookies</a>
</div>



    <div id="messages"></div>
    <input id="text" type="text">
    <button onclick="sendMyMessage()">Send</button>
    <input id="room" placeholder="room name" type="text"/>
    <button onclick="join()">Join room</button>
</body>

</html>