<!DOCTYPE html>

<html lang="en">
<head>
    <title>Error Page</title>
</head>
    <body>
        <h1>Something went wrong...</h1>
        <p><% error %></p>
        <a href="/">Go back ot Homepage</a>
    </body>
</html>