<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/chat">Chat</a>
            <a href="/login">Login</a>
            <a href="/cookies">Cookies</a>
            <a href="/chat">Chat</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <br>

        <% if (typeof confirmationMessage !== 'undefined' && confirmationMessage !== '') { %>
            <div class="confirmation-message">
                <%= confirmationMessage %>
            </div>
        <% } %>

        <div class="card">
            <h1>Welcome to <br> <%= title %>  </h1>
            <p>We are group 15 of the class server side coding.</p>
            <p>Niklas</p>
            <p>Igor</p>
            <p>Matt</p>
            <p>Matt</p>
        </div>
        <a href="/logout">Logout</a>

        <button class="btn">Login</button>

        </body>
</html>