<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="icon" href="/public/favicon.png" />
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/chat">Chat</a>
            <a id="registerLink" href="/register">Register</a>
            <a id="loginLink" href="/login" style="float: right">Login</a>
            <a id="logoutLink" href="/logout" style="display: none; float: right ">Logout</a>
        </div>

        <div class="card">
            <h1>Welcome to <br> <%= title %>  </h1>
            <p style="text-align: center; font-size: larger">We are group 15 of the class server side coding. <br>
            Niklas<br>
            Igor<br>
            Matt<br>
            Matt</p>
        </div>

        <script>
            // Function to get a cookie value by name
            function getCookie(name) {
                let value = `; ${document.cookie}`;
                let parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }

            // Check for accessToken cookie
            const accessToken = getCookie('accessToken');
            const loginLink = document.getElementById('loginLink');
            const logoutLink = document.getElementById('logoutLink');

            if (accessToken) {
                loginLink.style.display = 'none';
                logoutLink.style.display = 'inline';
            } else {
                loginLink.style.display = 'inline';
                logoutLink.style.display = 'none';
            }
        </script>
        </body>
</html>