<!DOCTYPE html>
<<<<<<< HEAD
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to: <%= title %></h1>
</body>
=======
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/cookies">Cookies</a>
        </div>
        <br>
        <div class="card">
            <h1>Welcome to <br> <%= title %>  </h1>
            <p>We are group 15 of the class server side coding.</p>
            <p>Niklas</p>
            <p>Igor</p>
            <p>Matt</p>
            <p>Matt</p>
        </div>


        </body>
>>>>>>> 333f70b40c65406d75ccf5b67fcf9d4442c38aad
</html>