<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
            <div class="card" class="center">
                    <h1>Welcome to <br> <%= title %>  </h1>
                    <ul>
                        <li>We are group 15 of the class server side coding.</li>
                        <li>Niklas</li>
                        <li>Igor</li>
                        <li>Matt</li>
                        <li>Matt</li>
                    </ul>
            </div>


        </body>
</html>