<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a class="active" href="/login" style="float: right">Login</a>
</div>

<h1>Login</h1>
<div class="form">
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <div style="display: flex; justify-content: center">
            <button class="button-28" type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>