<!DOCTYPE html>

    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
<form actio="/login" method="post">
    <span>Your email:</span> <input type="text"
                                    name="username"
                                    placeholder="your email"/><br><br>
    <span>your password</span> <input type="text"
                                      name="username"
                                      placeholder="your email"/><br><br>
    <input type="submit" value="log me in"/>
</form>

</html>