<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/cookies">Cookies</a>
            <a class="active" href="/movies">Movies</a>
        </div>
        <br>
        <div class="card">
            <h1>Loading all movies:</h1>
            <% for (var i = 0; i < movies.length; i++) { %>
                <p> <%= movies[i].title %></p>
            <% } %>
        </div>
        <br>
    </body>
</html>