<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form>
        <span>Name</span>
        <input type="text" id="name" required><br>
        <span>Surname</span>
        <input type="text" id="surname" required><br>
        <span>Hero</span>
        <input type="text" id="hero" required><br>
        <span>E-Mail</span>
        <input type="text" id="email" required><br>
        <span>Info</span>
        <input type="text" id="info">

    </form>
</body>
</html>