<!DOCTYPE html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<form actio="/login" method="post">
    <span></span> <input type="text"
                                    name="username"
                                    placeholder="your email"/><br><br>
    <span></span> <input type="text"
                                      name="username"
                                      placeholder="your email"/><br><br>
    <input type="submit" value="register me "/>
</form>

</html>