<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<% if (typeof user.id !== 'undefined') { %>

    <h1> This is our awesome user </h1>

    <div class="header">
        <h2>USER PROFILE</h2>
    </div>

    <div class="profile">

        <div class="profileData">
            <div class="profileInfo">
                <p>name:</p>
                <p> <%= user.name %> </p>
            </div>

            <div class="profileInfo">
                <p>surname:</p>
                <p> <%= user.surname %> </p>
            </div>
            <div class="profileInfo">
                <p>hero-name:</p>
                <p> <%= user.hero %> </p>
            </div>
        </div>

        <div class="imagePlaceholder"></div>
    </div>

<% } else { %>
    <h2> This user does not exist! Try a different id...</h2>
<% } %>

</body>
</html>
