body {
    background-color: beige;
}

h1 {
    color: #ffffff;
    font-family: 'Script MT Bold', sans-serif;
    font-size: 54px; font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px;
}

ul {
    list-style-type: none;
}

li {
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}

a {
    color: #fe921f;
    text-decoration: underline;
}

a:hover {
    color: #ffffff
}

/*========================================================================================*/

.card {
    width: 500px;
    height: 500px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
    padding: 1rem;
}

.center {
    display: flex;
    justify-content: center;
}



